<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>






<!-- 登录验证码生成 -->
 <servlet> 
    <servlet-name>AuthImage</servlet-name> 
    <servlet-class>cn.huchao.picCode.AuthImage</servlet-class> 
    </servlet> 
    <servlet-mapping> 
    <servlet-name>AuthImage</servlet-name> 
    <url-pattern>/authImage</url-pattern> 
 </servlet-mapping>
 
 
 
  <display-name>Archetype Created Web Application</display-name>
</web-app>
